@{
    Layout = "_Layout";
}
@model IEnumerable<Achievement>

<h2>Manage Achievements</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td><img src="@item.ImageUrl" width="120" height="150"></td>
                <td>
                    <a asp-action="ViewAchievement" asp-route-id="@item.Id" class="btn btn-info">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="CreateAchievement" class="btn btn-primary">Create New</a>